/* canvas{
  margin:auto;
  display: block;
}
h1{
  text-align: center;

}
p{
  text-align: center;
} */



body {

  margin: 0;
  padding: 0;
  display: block;
  /* overscroll-behavior: none; */
  max-width: 100%;
  overflow-x: hidden;
  background-color: rgb(56, 4, 76);
  text-align: center;
  color: #FFFADA;
  justify-content: center;
  align-items: center;
  /* transform: translate(-50%,-50%);  */

  overflow-y: hidden;
}



/* .btn2{
  font-family:'Times New Roman', Times, serif;
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 18px;
  position: relative;
  padding
} */